<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Web JEE Sample Application</display-name>
	<jsp-config>
		<taglib>
			<taglib-uri>/META-INF/tags/tld-jee-sample.tld</taglib-uri>
			<taglib-location>/WEB-INF/classes/META-INF/tags/tld-jee-sample.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
