<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>JBoss Logging Web Application</display-name>
	<servlet>
		<servlet-name>JBossLoggingServlet</servlet-name>
		<display-name>JBossLoggingServlet</display-name>
		<description>Servlet to log messages</description>
		<servlet-class>com.redhat.samples.web.JBossLoggingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JBossLoggingServlet</servlet-name>
		<url-pattern>/JBossLoggingServlet</url-pattern>
	</servlet-mapping>
</web-app>
